<h1>DocumentaryFilms Repository</h1>
<a href=<%= documentary_new_path%> class="btn btn-secondary mb-3">Add new Movie</a>
<h3 class="py-3">List of Movies</h3>
<% @documentary.each do |p| %>
<h4>Name: <%= p.name %></h4>
<p>Director: <%= p.director %></p>
<p>Synopsis: <%= p.synopsis %></p>
<% end%>

