<h1>Videos Repository</h1>
<p>Please begin select one category</p>
<ul>
<li><%= link_to "Movies", movie_index_path %></li>
<li><%= link_to "Series", series_index_path %></li>
<li><%= link_to "DocumentaryFilms", documentary_index_path %></li>
</ul>
